

/*/////////////////////////////
/   Debug / Dev
///////////*/
.dev, .navbar .nav > li.dev{display:none;}
body.debug .dev, body.debug .navbar .nav > li.dev{display:block;}


/*///////////////////////////////////////////////
/   Helpers
/////////////////////////////*/
.red{background:#f00;}
.r{border:1px solid #f00;}
.right{float:right;}
.left{float:left;}
.hidden{display:none}

/*/////////////////////////////
/   General
///////////*/
body.logged .logged{display:block;}
body.logged .not-logged{display:none;}
body.not-logged .logged{display:none;}
body.not-logged .not-logged{display:block;}

::selection {
	background: #51d4ff; /* Safari */
	color:#fff;
}
	
	/*/////////////////////////////
  /   Home
  ///////////*/
	h1.boom{margin-top: 60px;
  margin-bottom: 30px;
  font-size: 64px;
  line-height:1.1em;}
	body{padding-bottom:30px;}
	
	.main.container{max-width:640px;}
	/*/////////////////////////////
  /   Fonts
  ///////////*/
  h1, .sketch, .row.features h2{ font-family: 'Oswald', sans-serif, Arial, "Sketchetik Light"; font-weight:normal; }

  
	
	
	
	