
/*
Hot Red: f53704
hot blue: 51d4ff
*/

/*/////////////////////////////
/   Debug / Dev
///////////*/
.dev, .navbar .nav > li.dev{display:none;}
body.debug .dev, body.debug .navbar .nav > li.dev{display:block;}


/*///////////////////////////////////////////////
/   Helpers
/////////////////////////////*/
.red{background:#f00;}
.r{border:1px solid #f00;}
.right{float:right;}
.left{float:left;}
.hidden{display:none}

/*/////////////////////////////
/   General
///////////*/
body.logged .logged{display:block;}
body.logged .not-logged{display:none;}
body.not-logged .logged{display:none;}
body.not-logged .not-logged{display:block;}

::selection {
	background: #51d4ff; /* Safari */
	color:#fff;
	}

  /*/////////////////////////////
  /   Loading
  ///////////*/
#cache{position:absolute; top:0px; left:0px; width:100%; height:100%; background:#fff; z-index:10015; transition:all 0.3s;}
#cache.fade{ opacity:0; }

body.loading section{display:none;}
#cache .loading{
  position: fixed; color:#aaa; text-align:center;
  top: 40%;left: 45%;}
#cache .loading img{display:block; width:32px; height:32px; margin:auto;}
body{
  padding-top: 90px;
  background-color: white;
  background-image: url(/img/bg/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
  
}
/*/////////////////////////////
/   Fonts
///////////*/
h1, .sketch, .row.features h2{ font-family:"Sketchetik Light"; font-weight:normal; }



/*///////////////////////////////////////////////
/    Boostrap tweacks and fixes
/////////////////////////////*/
header, .btn, button{user-select:none;}
.modal{display:none}
header li a i{margin-right:8px;}

.btn-huge {
padding: 18px 28px;
font-size: 22px;
line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/*///////////////////////////////////////////////
/    TOP NAVBAR
//////////////////////////////////////*/
#header .btn.share{margin-right:30px;}
.navbar .btn-mini{margin-top:10px;}
#header .brand{
  margin-right: 20px;
  float:left;
  font-size:35px;
  margin-top:-7px;
  margin-bottom:-10px;
  margin-left:5px;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.navbar li .badge{margin-left:10px; padding:3px 10px;}
.navbar li .badge:hover{background:#f00;}
/*///////////////////////////////////////////////
/    PROMO
////////////////////////////////////////////*/
#promo h1.boom{font-size:11.5em; color:#aaa; margin-top:0px; line-height:1.1em; margin-left:-36px; margin-right:-150px; white-space:nowrap;}
#promo .row.features img{margin:auto; width: 135px; height: 135px; padding-right: 70px;  display:block; }
#promo .row.features{margin-top:-20px;}
#promo .row.features h2{font-size:2.4em;}
#promo .hero-unit{ 
  background: #eee url('/img/promo/car.png') no-repeat 150px 20px; 
  background-size:45%;
  background-position:181px 33px;
   height:210px; }
#promo .hero-unit h1{font-size:45px; margin-bottom:0.2em; }

#promo .hero-unit .leftcol{ margin-top:-30px;  margin-left:-10px;}
#promo .hero-unit .leftcol h1{ font-size:55px; margin-bottom:0.15em;}
#promo .hero-unit .rightcol{ padding-top:20px; text-align:right; margin-right:-70px;}
#promo .hero-unit .rightcol .btn{text-align:left; }
#promo .hero-unit .rightcol .btn img.arrow{float:right; width:68px; margin-top:-62px; }
#promo .hero-unit .rightcol .btn{ width:330px; }
#promo .hero-unit .rightcol .btn p{ font-size:18px; margin-left: -9px;}
#promo .hero-unit .rightcol p{font-size:14px; line-height:1.2em; padding-top:10px;}
.navbar img.user_photo_square{width:30px; height:30px;border:#000 1px solid;margin:0; margin-right:10px; margin-bottom:-20px;margin-top:-22px;}

#promo .hero-unit .rightcol .btn-huge{transition:background 0.2s;}
#promo .hero-unit .rightcol .btn-huge:hover{background:#f53704;}


/*///////////////////////////////////////////////
/    LOcation - ME
////////////////////////////////////////////*/
#location form.commute input{font-size:17px; padding:12px;}
#location h1{font-size:6.2em; color:#aaa; margin-top:0px; margin-bottom:0px; line-height:1em;}

/*///////////////////////////////////////////////
/    RIDES
////////////////////////////////////////////*/
#rides .list .item{ background:#ccc; border-radius:3px; }



/*///////////////////////////////////////////////
/    footer
////////////////////////////////////////////*/
footer.footer{
  clear:both;
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}







