<!DOCTYPE html>
<html class="no-js" lang="en" manifest="cache.manifest22" xmlns:fb="http://ogp.me/ns/fb#"><head><meta charset="utf-8"><!-- 


 ::::::::::: :::    :::     ::: ::::::::::: ::: ::::::::          :::    :::  ::::::::  :::       ::: 
     :+:     :+:    :+:   :+: :+:   :+:     :+ :+:    :+:         :+:    :+: :+:    :+: :+:       :+:  
    +:+     +:+    +:+  +:+   +:+  +:+        +:+                +:+    +:+ +:+    +:+ +:+       +:+   
   +#+     +#++:++#++ +#++:++#++: +#+        +#++:++#++         +#++:++#++ +#+    +:+ +#+  +:+  +#+    
  +#+     +#+    +#+ +#+     +#+ +#+               +#+         +#+    +#+ +#+    +#+ +#+ +#+#+ +#+     
 #+#     #+#    #+# #+#     #+# #+#        #+#    #+#         #+#    #+# #+#    #+#  #+#+# #+#+#       
###     ###    ### ###     ### ###         ########          ###    ###  ########    ###   ###         


  :::       ::: ::::::::::          :::::::::   ::::::::  :::        :::  
   :+:       :+: :+:                 :+:    :+: :+:    :+: :+:        :+:   
  +:+       +:+ +:+                 +:+    +:+ +:+    +:+ +:+        +:+    
 +#+  +:+  +#+ +#++:++#            +#++:++#:  +#+    +:+ +#+        +#+     
+#+ +#+#+ +#+ +#+                 +#+    +#+ +#+    +#+ +#+        +#+      
#+#+# #+#+#  #+#                 #+#    #+# #+#    #+# #+#        #+#       
###   ###   ##########          ###    ###  ########  ########## ##########

                 
                 
                 
                 
                 
              
                 
                 
 --><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
  	<meta name="author" content="">
    <title>That's how we roll!  ▲ simple ridesharing</title>
    
     <!-- These are Open Graph tags.  They add meta data to your  -->
      <!-- site that facebook uses when your content is shared     -->
      <!-- over facebook.  You should fill these tags in with      -->
      <!-- your data.  To learn more about Open Graph, visit       -->
      <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
      <meta property="og:title" content="That's how we roll! (simple ridesharing)" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://weroll.net" />
      <meta property="og:image" content="http://weroll.net/img/site_tb.jpg" />
      <meta property="og:site_name" content="That's how we roll! (simple ridesharing)" />
      <!-- <meta property="og:description" content="See how" />-->
        <!--[if IEMobile]>
        <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
        <![endif]-->
    
  <!--/////////////////////////////////////////////////////////////////
 //       CSS
////////////////////////////////////////////////////////////////-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="fb_template/fb_template.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="fb_template/fb_template_mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />-->

    <!-- FONTS  -->
    <link rel="stylesheet" href="/fonts/sketchetik_light/stylesheet.css">
    <link rel="stylesheet" href="/fonts/lekton/stylesheet.css">
    <link rel="stylesheet" href="/fonts/droid_sans/stylesheet.css">
    <link rel="stylesheet" href="/fonts/droid_serif/stylesheet.css">

    <!-- LESS styles (bootstrap)  
    <link rel="stylesheet/less" href="/less/reset.less">
    <link rel="stylesheet/less" href="/less/bootstrap.less">
    <link rel="stylesheet/less" href="/less/buttons.less">
    <link rel="stylesheet/less" href="/less/forms.less">-->

    <!-- CSS  Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/less/responsive.css">
        <!--Compile with this command: 
          lessc ./less/bootstrap.less > ./css/bootstrap.css  -->
    
    <!-- CSS  App -->
    <link rel="stylesheet" href="/css/main.css">
    


  
  </head>
  <body class="not-logged loading" id="body">
    <div id="fb-root"></div>
    <div id="cache"> <div class="loading">
      <img src="/img/loading1.gif" class=""><br/>
      <p>Loading...</p></div> 
    </div>




      <!--/////////////////////////////////////////////////////////////////
     //        JavaScript
    ////////////////////////////////////////////////////////////////-->
       <!-- <script type="text/javascript" src="https://js.stripe.com/v1/"></script> --> 
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

      	<script src="/js/libs/LAB.min.js"></script> <!--  Script Loader-->
      	<script type="text/javascript">
        var minification = false;
        if(window.location.hostname == '127.0.0.1'){ debug = true; }else{ debug = false;} 
        //function log(s){if(debug){return console.log(s);}} //shortcut, local only
        log = function(s){console.log(s)};
          $LAB
          // LIBS
          .script("/js/libs/modernizr-2.5.3.min.js").wait() 
          .script("/js/libs/prefixfree.min.js")
          //.script("/js/libs/prefixfree.dynamic-dom.js")
          //.script("/js/libs/jquery-1.7.1.min.js").wait()
          //.script("/js/libs/less-1.3.0.min.js")
          //.script("/js/libs/pretty.js")
          // .script("/js/downloadify.min.js")  //download in background...
          // .script("/js/libs/fullscreenApi.js")
          .script("https://js.stripe.com/v1/")
          .script("/js/libs/jquery.cookie.js")
          .script("/js/libs/jquery.sharrre-1.2.0.min.js")
          .script("/js/libs/jquery.cuteTime.min.js")
          .script("/js/libs/underscore.js") 
          .script("/js/libs/json2.js") //.wait() 
          .script("/js/libs/sha.js").wait()
          .script("/js/libs/backbone.js").wait() 
          // .script("/js/libs/backbone.localStorage.modified.js").wait() // Overide the Sync method, AGAIN!...
          .script("/js/libs/backbone.analytics.js").wait()

          // Bootstrap
          .script("/js/libs/bootstrap.min.js")
          .script("/js/libs/bootstrap-button.js")
          .script("/js/libs/bootstrap-modal.js")
          .script("/js/libs/bootstrap-transition.js")
          // APP
          .script("/js/app/facebook_setup.js")
          .script("/js/app/stripe_setup.js")
          .script("/js/app/router.js")
          .script("/js/app/model_constant.js")
          .script("/js/app/user.js")
          .script("/js/app/ui.js")
          .wait()
          .script("/js/app/start.js")// instanciation and configuration of main objets

       </script>
       
       
      <!--/////////////////////////////////////////////////////////////////
     //       Modal stuff
    ////////////////////////////////////////////////////////////////-->

    <div class="modal" id="modal_share">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Invite others to roll with you</h3>
      </div>
      <div class="modal-body">
        <p>
          Riding with people you already know is guaranteed fun.
          If you'd know more about your friends' commute, you might discover you'd be able to ride together.
          </p><p>
            Invite them!
            <a href="#" class="btn fb_send_dialog btn-primary">Invite Facebook friends</a>
            
          </p><p>
          Bonus: Booking fees are waived for rides between friends. 
          </p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
                

    <div class="modal" id="modal_test">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>

  <!--/////////////////////////////////////////////////////////////////
 //        Header (nav bar)
////////////////////////////////////////////////////////////////-->

<header id="header"> <!-- used for the NAV view... -->
  

    
<!--  navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/" class="route">we roll</a>
            <div class="nav-collapse">
              <ul class="nav not-logged">
                <li class="active promo"><a href="#/promo" class="route"><i class="icon-home icon-white"></i>Home</a></li>
                <li class="about"><a href="#/about" class="route"><i class="icon-question-sign icon-white"></i>About</a></li>
                <li class="sign-up"><a href="#/signup" class="login"><i class="icon-pencil icon-white"></i>Sign up!</a></li>
              </ul>
              <ul class="nav logged">
                
                
                <li class="location"><a href="#/location" class="route"><i class="icon-map-marker icon-white"></i>Me</a></li>
                <li class="dev rides"><a href="#/rides" class="route"><i class="icon-th-list icon-white"></i>Rides</a></li>
                <li class="dev requests"><a href="#/requests" class="route"><i class="icon-comment icon-white"></i>Messages<span class="badge badge-warning msg_count">4</span></a></li>
                 
                 
                <li class="divider"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign icon-white"></i>About <b class="caret"></b></a>
                  
                  <ul class="dropdown-menu">
                    <li class=""><a href="#/about" class="route"><i class="icon-question-sign"></i>About WeRoll</a></li>
                    <li class="promo"><a href="#/promo" class="route"><i class="icon-home"></i>Homepage</a></li>
                    <div class="dev">
                      <li class=""><a href="#/help" class="route"><i class="icon-question-sign"></i>Help & Support</a></li>
                      <li class=""><a href="#/about" class="route"><i class="icon-question-sign"></i>WeRoll for companies</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Tests</li>
                      
                      <li class="pay"><a href="#/pay" class="route"><i class="icon-home icon-white"></i>Pay</a></li>
                      <li class="nodebug"><a href="#/" class="route"><i class="icon-home icon-white"></i>NO DEBUG Preview</a></li>
                      
                      <li><a href="https://developers.facebook.com/apps/218936571546789/permissions" class="external">Sitch User (DEV)</a></li>
                      <li><a href="https://mongohq.com/remote_databases/appstack%20-%20rideshare/collections/users" class="external">View Database (DEV)</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">API methods</li>
                      <li><a href="/api/user" class="external">/api/user</a></li>
                      <li><a href="/api/rides" class="external">/api/rides</a></li>
                    </div>
                  </ul>
                </li>
              </ul>
              <!-- <form class="navbar-search pull-left" action="">
                <input type="text" class="search-query span2" placeholder="Search">
              </form>-->
              <ul class="nav pull-right not-logged">
                <li><button class="btn btn-info btn-mini share">
                    <i class="icon-gift icon-white"></i>
                    Send to Friends</button>
                  </li>
                  <li><button class="btn btn-primary login">
                    <i class="icon-lock icon-white"></i>
                    Login
                  </button></li>
              </ul>
              
              <ul class="nav pull-right logged">
                <li><button class="btn btn-info btn-mini share " data-toggle="modal" data-target="#modal_share"  >
                    <i class="icon-gift icon-white"></i>
                    Invite Friends!</button>
                  </li>
                <!-- <li><a href="#" class="external">@twitter</a></li> -->
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="#" class="user_photo_square"/>
                    <span class="username">User-Name</span> 
                    <b class="caret"></b>
                  </a>
                  
                  <ul class="dropdown-menu">
                    
                    <li class="dev"><a href="#/profile" class="route"><i class="icon-user"></i>Profile</a></li>
                    <li class="dev"><a href="#/history" class="route"><i class="icon-calendar"></i>History</a></li>
                    <li class="dev"><a href="#/preferences" class="route"><i class="icon-cog "></i>Preferences</a></li>
                    <li class="divider"></li>
                    <li><a href="#/logout" class="route"><i class="icon-off"></i>Sign off</a></li>
                    
                  </ul>
                </li>
              </ul>
            </div><!-- /.nav-collapse -->
          </div>
        </div>
      </div>
      <!-- eo navbar -->
</header><!-- eo #header -->


  <!--/////////////////////////////////////////////////////////////////
 //        PROMO
////////////////////////////////////////////////////////////////-->

<div class="container"> <!-- The APP, requires login-->

  <!-- 
  <p id="picture" style="background-image: url(https://graph.facebook.com/XXXXXXXXXXX/picture?type=normal)"></p>
  <h1>Welcome, <strong><span class="username">XXXXXXXXXXX</span></strong></h1>

<span class="useremail">XXXXXXXXXXX</span>-->

    <section id="promo">
      
      <h1 class="boom">That's how we roll!</h1>
      
      <div class="hero-unit row">
        <div class="span7 leftcol">
        <h1>Join nearby commuters!</h1>
        <p>get a cheap ride to work<br/>
        get paid to pick someone on your way</p>
        <p>
          <a class="btn btn-large login">
            Get Started!
          </a>
        </p>
        </div><!-- eo span -->
        <div class="span4 rightcol">
        <a class="btn btn-primary btn-large btn-huge cta login">
          <h1>See what you<br>might save!</h1>
          <img src="img/promo/right_arrow.png" class="arrow">
          <p><i class="icon-icon-question-sign"></i>Check others' rates and availability</p>
        </a>
        <p>Facebook let's us verify passengers <br/>
        identity and better match friends together</p>
        </div><!-- eo span -->
      </div>
      
      <div class="row features">
        <div class="span3">
          <img src="img/promo/clock.png" />
          <h2>Save Time</h2>
          <p>Hit the high-speed lanes, forget about parking, and spend more time with the ones you care (or your bed).</p>
        </div>
        <div class="span3">
          <img src="img/promo/coins.png" />
          <h2>Save Money</h2>
          <p>You can save up to 2000$ yealy just by riding with some dude; as a driver or passenger. Spend less for gaz, buy more cool shits.</p>
        </div>
        <div class="span3">
          <img src="img/promo/leaf.png" />
          <h2>Save Planets</h2>
          <p>Reduce your ecological footprint, save kittens. Ridesharing is a civilized and convenient way to get to work.</p>
        </div>
        <div class="span3">
          <img src="img/promo/sun.png" />
          <h2>Simple</h2>
          <p>
            We removed complexity from ridesharing; start reaping of the benefits today. Honestly, the only better option is riding your bike.
            <!-- 
             Join a friend or a nearby commuter, together to help everyone save time and money with their transportation. 
            Ridesharing have never been so simple. Facebook data is used to match you with your friends and interesting people you’ll trust. -->
            </p>
        </div>
      </div>
  
      <!-- TODO: set the facepile in a wrapper to remove FOUC. ALso very SLOW 
    <div class="fb-facepile" data-href="http://24photos.org" data-size="large" data-max-rows="1" data-width="300"></div>-->
    
     </section>


       <!--/////////////////////////////////////////////////////////////////
      //        ABOUT
     ////////////////////////////////////////////////////////////////-->
     <section id="about"> <!-- TODO: REMOVE HIDDEN CALSS-->
       <h1 class="boom">Commuting together</h1>
       <p>Wefd sadfasdf asdf </p>
       <img src="/img/watercolor/question.png" class="question "/>
       <img src="/img/watercolor/erlen.png" class="erlen "/>
       <img src="/img/watercolor/setting.png" class="erlen "/>
       <img src="/img/watercolor/small_bubble.png" class="erlen "/>
     </section>
     
     
</div> <!-- eo promo container -->
<div class="container logged"><!-- signed-in pages only... --> 



  <section id="get-started">
    <p>Welcome to your Facebook app, running on <span>heroku</span>!</p>
    <a href="https://devcenter.heroku.com/articles/facebook" target="_top" class="button">Learn How to Edit This App</a>
  </section>

    <!--/////////////////////////////////////////////////////////////////
   //        RIDES
  ////////////////////////////////////////////////////////////////-->


<section id="rides">
       <h1>Rides</h1>
       <div class="row features">
         <div class="span5 drivers">
           <h2>Get a lift<h2>
           <p>from your doorstep to the office</p>
           <div class="list">
             <div class="item">
               <img src="<%= u.photo%>">
               <h3><%= u.first_name%></h3>
               <button class="btn btn-primary btn-info"><i class="icon-envelope icon-white"></i>Check availability</button>
               
               <label><i class="icon-time"></i>5 minutes</label>
               <label><i class="icon-road"></i>10 km</label>
               
               <label><i class="icon-comment"></i>Lea wants to pick you up!</label>
               <button class="btn btn-large btn-primary btn-success"><i class="icon-ok icon-white"></i>Book now!</button>
               
               <button class="btn btn-primary"><i class="icon-ok icon-white"></i>Book now!</button>
               <button class="btn btn-small"><i class="icon-icon-envelope"></i>Ask Lea a quetsion</button>
               
             </div>
           </div>
         </div>
         <div class="span5 passengers">
           <h2>pick up<br>someone<h2>
            <p>and earn some extra pocket money</p>
            <div class="list"></div>
          </div>
         <div class="span2">
           <h3>Get more people</h3>
           <p>Here are few quick things you can do to find better options.</p>
              <button class="btn btn-primary fb_send_dialog"><i class="icon-gift"></i>Invite Facebook friends</button>
              <button class="btn btn-primary icon-retweet"><i class="icon-gift"></i>Tweet your commute</button>
              <button class="btn btn-primary icon-envelope"><i class="icon-gift"></i>Email invites</button>
              <button class="btn btn-primary"><i class="icon-user"></i>Pick another photo</button>
              
              
              
              <h5>other stuff</h5>
              <button class="btn btn-primary"><i class="icon-print"></i>Print this</button>
              <button class="btn btn-primary"><i class="icon-envelope icon-white"></i>Requests</button>
              
         </div>
       </div><!-- eo Row-->

              <div class="btn-group" data-toggle="buttons-radio">
                         <button class="btn btn-primary">Left</button>
                         <button class="btn btn-primary">Middle</button>
                         <button class="btn btn-primary active">Right</button>
            </div>
            
            
            <div class="btn-group" data-toggle="buttons-checkbox">
                       <button class="btn btn-primary">Dudes</button>
                       <button class="btn btn-primary">Gals</button>
             </div>
                       
                    
        </section>               
 
 
   <!--/////////////////////////////////////////////////////////////////
  //       LOCAITON
 ////////////////////////////////////////////////////////////////-->
                       
     <section id="location">
      <h1> Nice to meet you <span class="username">dude</span>!</h1>
       <form action="/api/setlocation" method="GET" id="location-form" class="well span commute">
         <h2>My Commute</h2>
         <p>Where do you live? and work?</p>
          <div class="form-row">
            <div class="cc-text">Home</div>
            <input type="text" placeholder="home address" size="30" autocomplete="off" name="home" class="homeaddress"/>
          </div>
          <div class="form-row">
            <div class="cc-text">Work</div>
            <input type="text" placeholder="work address" size="20" autocomplete="off" name="work" class="workaddress" />
          </div>
          
          
          <button type="submit" class="submit-button">See nearby...</button>
        </form>
      </section>


      



   <!--/////////////////////////////////////////////////////////////////
  //      Payment form
 ////////////////////////////////////////////////////////////////-->

        <section id="pay">
    
    <div id="stripe-form">
      <form action="/plans/browserling_developer" method="POST" id="payment-form" class="well">
        <div class="form-row">
          <div class="cc-text">Card Number</div>
          <input type="text" size="30" autocomplete="off" class="card-number"/>
        </div>
        <div class="form-row">
          <div class="cc-text">CVC</div>
          <input type="text" size="4" autocomplete="off" class="card-cvc"/>
        </div>
        <div class="form-row">
          <div class="cc-text">Expiration (MM/YYYY)</div>
          <input type="text" size="2" class="card-expiry-month"/>
          <span> / </span>
          <input type="text" size="4" class="card-expiry-year"/>
        </div>
        <input type="hidden" name="amount" value="2000" id="cc-amount">
        <button type="submit" class="submit-button">Submit Payment</button>
      </form>
    </div>
    <div id="error" class="hidden"></div>
    <div id="success" class="hidden">Thanks for signing up at Browserling222!</div>
    
    </section>
    
    
    
    <!--/////////////////////////////////////////////////////////////////
  //    FOOTER
 ////////////////////////////////////////////////////////////////-->
    <footer class="footer row">
            <p class="pull-right"><a href="#" class="scroll-top">Back to top</a></p>

            <p>WeRoll is designed and built with love by the folks at <a href="http://robots4humans.com" target="_blank">Robots For Humans</a>.</p>
            
            <p>Do you feel using today's technology is more often than not a pain in the butt? We're committed to build a better future.</p>
            
            <p>We are looking for AA players to <a href="http://robots4humans.com" target="_blank">join our ranks</a>.</p>
            
               
               
          </footer>
          
    <!--/////////////////////////////////////////////////////////////////
  //     FINI
 ////////////////////////////////////////////////////////////////-->
    
    </div><!-- eo container -->
    
    <script>
    	var _gaq=[['_setAccount','UA-24688279-7'],['_trackPageview']];  //weroll.net
    	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    	s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    
    
  </body>
</html>

